/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/****    ****/
body {
    font-size: 4vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: opacity 1s ease 0s;
    background-color: black;
}

* {
    box-sizing: border-box;
}

body > * {
    display: none;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


body.preload #preload {
    display: block;
    color: white;
}

body.level #level {
    display: block;
}
body.choose #choose {
    display: block;
}
body.credits #credits {
    display: block;
}
body.title #title {
    display: block;
}
body.howtoplay #howToPlay {
    display: block;
}


#preload button {
    left: 50%;
    bottom: 10%;
}
#preload button:hover {
    border-color: white;
}
#preload > div {
    position: relative;
    top: 50%;
    font-size: 3vh;
    text-align: center;
}
#preload > div:before {
    content: "Loading assets: " attr(data-loaded) "/" attr(data-total);
}


/***** ****/
#title, #howToPlay, #choose, #credits, #level {
    background: radial-gradient(circle at 60% 30%, #FFF, lightskyblue);
}

#title > *, #howToPlay > * {
    position: absolute; 
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
#title:before {
    content: '';
    display: block;
    position: absolute;
    width: 14vw;
    height: 14vw;
    left: 3vw;
    bottom: 3vw;
    background-image: url(../images/logoGGJ.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#title img:nth-of-type(1) {
    width: auto;
    height: 17vw;
    left: 5vw;
    top: 15vh;
}
#title img:nth-of-type(2) {
    width: auto;
    height: 17vw;
    top: 45vh;
    left: 20vw;
}
#title img:nth-of-type(3) {
    width: auto;
    height: 20vh;
    top: 10vh;
    right: 6vw;
}
#title img:nth-of-type(4) {
    width: auto;
    height: 26vh;
    top: 15vh;
    right: 20vw;
}
#title #btnStart {
    bottom: 5vh;
    left: 30vw;
}
#title #btnHowToPlay {
    bottom: 5vh;
    left: 50vw;
}
#title #btnCredits {
    bottom: 5vh;
    left: 70vw;
}
button {
    position: absolute;
    width: 30vh;
    border: solid 1vh #000;
    padding: 1vh;
    border-radius: 3vh;
    text-align: center;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    transform: translate(-50%,-50%);
}
button:hover {
    color: white;
    background-color: black;
}


#howToPlay, #credits {
    font-size: 5vh;
    padding: 10vh;
}
.btnBack {
    left: 50%;
    bottom: 5vh;
}
#howToPlay p, #credits p {
    display: block;
    position: relative;
    margin: 3vh;
}
h2, h3 {
    font-size: 6vh;
    font-weight: bold;
    text-align: center;
}
h3 {
    font-size: 5vh;
}


/**** GAME OVER AND LEVEL SELECTION MENU ****/
#gameover {
    display: none;
    z-index: 10001;
    width: 30vw;
    height: 60vh;
    left: 35vw;
    top: 20vh;
    border: solid 1vh darkred;
    border-radius: 2vh;
    box-shadow: 2vh 2vh 2vh black, 
        -2vh 2vh 2vh #000, 
        -2vh -2vh 2vh #000,
        2vh -2vh 2vh #000;
    background-color: white;
}
#gameover h2 {
    font-size: 5vh;
    font-weight: bold; 
    margin: 2vh;
}
#gameover #score {
    font-size: 5vh;
    text-align: center;
    color: gold;
    margin: 3vh 0 7vh 0;
    height: 10vh;
}
#gameover:not([data-score]) #score, #gameover[data-score="0"] #score {
    visibility: hidden;
}
#gameover .win, #gameover:not([data-score="0"]) .lost, #gameover[data-score] .pause {
    display: none;
}
#gameover[data-score]:not([data-score="0"]) .win {
    display: inline;
}
#gameover[data-score="1"] #score:before {
    content: '\2605 \2606 \2606';
}
#gameover[data-score="2"] #score:before{
    content: '\2605 \2605 \2606';
}
#gameover[data-score="3"] #score:before {
    content: '\2605 \2605 \2605';
}
#gameover:not([data-score]) #btnNext, #gameover[data-score="0"] #btnNext, #gameover #btnResume {
    display: none;
}
#gameover:not([data-score]) #btnResume {
    display: block;
}
#gameover button {
    font-size: 3vh;
    width: 60%;
    display: block;
    position: relative;
    transform: none;
    margin: 2vh auto;
}


/**** LEVEL SELECTION ***/
#choose > h2 {
    margin: 10vh;
}
#choose > div {
    display: flex;
    flex-direction: horizontal;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    width: 80vw;
    margin: 10vh auto;

}

#choose .btnLevel {
    cursor: pointer;
    width: 7vh;
    position: relative;
}

#choose .btnLevel:before {
    content: '';
    text-align: center;
    width: 100%;
    position: absolute;
    display: block;
    top: -3vh;
    font-size: 2vh;
    color: gold;
}
#choose .btnLevel:before {
    content: '';
}
#choose .btnLevel[data-score="1"]:before {
    content: '\2605 \2606 \2606';
}
#choose .btnLevel[data-score="2"]:before {
    content: '\2605 \2605 \2606';
}
#choose .btnLevel[data-score="3"]:before {
    content: '\2605 \2605 \2605';
}
#choose .btnLevel:before {
    content: '';
}
#choose .btnLevel:after {
    display: block;
    box-sizing: border-box;
    content: attr(data-num);
    border: solid 1px #000;
    line-height: 7vh;
    font-size: 5vh;
    width: 7vh;
    height: 7vh;
    text-align: center;
    padding: 0;
    background-color: white;
    border-radius: 10px;
}




/*** LEVEL DESIGN ***/
#level canvas#cvsGame {
    position: absolute; 
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/essainuage2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#level > * {
    position: absolute; 
}

#level #btnStartLevel {
    left: 50%;
    top: 50%;
}

#level[data-action]:after {
    position: fixed;
    box-sizing: border-box;
    bottom: 1vh;
    right: 1vh;
    
    border: solid 0.5vh #000;
    border-radius: 2vh;
    padding: 0.2vh 0.2vh;
    width: 12vh;
    height: 12vh;
    font-size: 4vh;
    line-height: 4.5vh;
    text-align: right;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    background-image: url(../images/soul.png);
    background-size: 8vh 8vh;
    background-repeat: no-repeat;
    background-position: 1vh 1vh;
}
#level:not(.withSoul)[data-action="Source"]:after {
    content: '\2795';
}
#level:not(.withSoul)[data-action="Soul"]:after {
    content: '\2B06';
}
#level.withSoul[data-action="TV"]:after, #level.withSoul[data-action="Exit"]:after {
    content: '\2B07';
}

#level > div {
    border: solid 1px #000;
}

#level #todo {
    top: 0;
    left: 5vh;
    background-color: white;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    margin: 0.5vw;
    width: 30vw;
    height: 8vh;
    border: solid 0.5vh #000;
    border-radius: 1vh;
    box-shadow: 1vh 1vh 1vh #000;
}
#todo .soul {
    display: inline-block;
    transform: none;
    width: 7vh;
    height: 7vh; 
    background-size: 7vh 7vh;
    position: relative;
}
#todo .soul.done:after {
    content: '\2705';
    position: absolute; 
    font-size: 3vh;
    color: green;
    bottom: 1px;
    right: 1px;
}
.soul > div {
    position: relative; 
    display: inline-block;
    width: 1.4vh;
    height: 1.4vh;
    border-radius: 50%;
    border: solid 1px #000;
    box-shadow: 1px 1px 1px #000;
}



/**** TIME ****/
#level:before {
    content: attr(data-time);
    position: absolute;
    z-index: 10;
    top: 0;
    margin: 0.5vw;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vh;
    line-height: 1.2;
    font-weight: bold;
    padding: 1vh 2vh 0.5vh 2vh;
    text-align: center;
    right: 5vh;
    color: black;
    background-color: white;
    border-radius: 3vh;
    border: solid 1vh darkred;
}
