/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/****    ****/
body {
    font-size: 4vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: opacity 1s ease 0s;
    background-color: black;
}

* {
    box-sizing: border-box;
}

body > * {
    display: none;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


body.preload #preload {
    display: block;
    color: white;
}

body.level #level {
    display: block;
}
body.choose #choose {
    display: block;
}
body.credits #credits {
    display: block;
}
body.title #title {
    display: block;
}
body.howtoplay #howToPlay {
    display: block;
}


#preload button {
    left: 50%;
    bottom: 10%;
}
#preload button:hover {
    border-color: white;
}
#preload > div {
    position: relative;
    top: 50%;
    font-size: 3vh;
    text-align: center;
}
#preload > div:before {
    content: "Loading assets: " attr(data-loaded) "/" attr(data-total);
}


/***** ****/
#title, #howToPlay, #choose, #credits, #level {
    background: radial-gradient(circle at 60% 30%, #FFF, lightskyblue);
}

#title > * {
    position: absolute; 
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
#title:before {
    content: '';
    display: block;
    position: absolute;
    width: 14vw;
    height: 14vw;
    left: 3vw;
    bottom: 3vw;
    background-image: url(../images/logoGGJ.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#title img:nth-of-type(1) {
    width: auto;
    height: 17vw;
    left: 5vw;
    top: 15vh;
}
#title img:nth-of-type(2) {
    width: auto;
    height: 17vw;
    top: 45vh;
    left: 20vw;
}
#title img:nth-of-type(3) {
    width: auto;
    height: 20vh;
    top: 10vh;
    right: 6vw;
}
#title img:nth-of-type(4) {
    width: auto;
    height: 26vh;
    top: 15vh;
    right: 20vw;
}
#title #btnStart {
    bottom: 5vh;
    left: 30vw;
}
#title #btnHowToPlay {
    bottom: 5vh;
    left: 50vw;
}
#title #btnCredits {
    bottom: 5vh;
    left: 70vw;
}
button {
    position: absolute;
    width: 22vh;
    border: solid 0.8vh #000;
    padding: 1vh 0vh;
    border-radius: 2.6vh;
    text-align: center;
    font-size: 2.6vh;
    font-weight: inherit;
    font-weight: bold;
    cursor: pointer;
    transform: translate(-50%,-50%);
}
button:hover {
    color: white;
    background-color: black;
}


#howToPlay, #credits {
    font-size: 4vh;
    padding: 10vh;
    text-align: center;
}
.btnBack {
    left: 50%;
    bottom: 3vh;
}
#howToPlay p, #credits p {
    display: block;
    position: relative;
    line-height: 1.6;
    margin: 3vh;
}
h2, h3 {
    font-size: 6vh;
    font-weight: bold;
    text-align: center;
    margin-bottom: 7vh;
}
h3 {
    font-size: 5vh;
}

#howToPlay input[type="radio"] {
    display: none;
}
#howToPlay label {
    position: relative;
    display: inline-block;
    margin: 0.5vh;
    cursor: pointer;
    width: 3vh;
    height: 3vh;
    border: solid 2px #000;
    border-radius: 50%;
    background-color: transparent;
}
#howToPlay input:checked + label {
    background-color: black;
}
#howToPlay article {
    display: none;
    position: relative;
    text-align: left;
    margin: 6vh auto 0 auto;
    width: 90%;
}
#howToPlay #howTo1:checked ~ #desc1 {
    display: block;
}
#howToPlay #howTo2:checked ~ #desc2 {
    display: block;
}
#howToPlay #howTo3:checked ~ #desc3 {
    display: block;
}
#howToPlay #howTo4:checked ~ #desc4 {
    display: block;
}
#howToPlay #howTo5:checked ~ #desc5 {
    display: block;
}

#howToPlay .btnNext, #howToPlay .btnPrevious {
    position: absolute; 
    top: -10vh;
    display: block;
    width: 6vh;
    height: 6vh;
    text-align: center;
    border: none;
    /*
    vertical-align: middle;
    line-height: 5.5vh;
    border-radius: 10px;
    background-color: white;
    */
    cursor: pointer;
}
#howToPlay .btnNext {
    right: 0;
}
.btnPrevious:before, .btnNext:before {
    content: '\2794';
}
#howToPlay .btnPrevious {
    left: 0;
    transform: scaleX(-1);
}

#howToPlay #desc1 span {
    display: inline-block;
    vertical-align: middle;
    width: 5vh;
    height: 5vh;
    margin-right: 0vh;
    margin-left: 1vh;
    background-image: url(../images/tokens-spritesheet.png);
    background-position: top left;
    background-size: 30vh 5vh;
    background-position: 0 0;
}
#howToPlay #desc1 td span:first-child {
    margin-right: 1vh;
    margin-left: 0vh;
}
#howToPlay #desc1 span.evil {
    background-position: -10vh 0;
}
#howToPlay #desc1 span.pessimism {
    background-position: -15vh 0;
}
#howToPlay #desc1 span.optimism {
    background-position: -25vh 0;
}
#howToPlay #desc1 span.romantism {
    background-position: -5vh 0;
}
#howToPlay #desc1 span.perversity {
    background-position: -20vh 0;
}
#howToPlay #desc1 p img[src*="demonio"] {
    width: auto;
    height: 15vh;
    vertical-align: middle;
}
#howToPlay table {
    width: auto;
    margin: 0 auto;
}
#howToPlay #desc1 td {
    padding: 1vh 1vh;
}
#howToPlay #desc1 td:first-child {
    text-align: right;
}
#howToPlay #desc1 td:nth-child(2) {
    text-align: center;
}
#howToPlay #desc2 img[src*="example-source"] {
    width: 15vh;
    margin-right: 4vh;
    float: left;
    height: auto;
}
#howToPlay #desc2 img[src*="demonio-titre"] {
    position: absolute;
    right: 0;
    top: 10vh;
    width: 15vh;
    height: auto;
}
#howToPlay #desc2 p:nth-of-type(2) {
    margin: 8vh 0;
}
#howToPlay #desc3 img[src*="example-tv"] {
    display: block;
    margin: 2vh auto;
    width: 30vh;
    height: auto;
}
#howToPlay #desc4 img[src*="example-angel"] {
    float: left;
    margin-right: 2vh;
}
#howToPlay #desc4 img[src*="example-succ"] {
    float: right;
    margin-left: 2vh;
}
#howToPlay #desc4 p:last-of-type {
    position: fixed;
    width: 60vh;
    height: 30vh;
    bottom: 0;
    right: 0;
    font-size: 80%;
    background-image: url(../images/example-shoot.png);
    background-size: 100% 100%;
    text-align: center;
}
#howToPlay #desc5 img[src*="example-exit"] {
    float: right;
    width: 12vh;
    height: auto;
    margin-left: 2vh;
}
#howToPlay #desc5 img[src*="example-souls"] {
    display: block;
    width: auto;
    height: 8vh;
    margin: 1vh auto;
}
    
.centered {
    text-align: center;    
}

strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
kbd {
    border: solid 2px darkred;
    border-radius: 10px;
    padding: 2px;
    font-family: Courier;
    background-color: beige;
}


#credits img {
    position: absolute;
    display: block;
    bottom: 0;
    right: 1vh;
    width: 30vw;
    height: auto;
}
#credits h2 {
    margin-bottom: 10vh;
}
#credits p {
    margin: 6vh;
}


/**** GAME OVER AND LEVEL SELECTION MENU ****/
#gameover {
    display: none;
    z-index: 10001;
    width: 30vw;
    height: 60vh;
    left: 35vw;
    top: 20vh;
    border: solid 1vh darkred;
    border-radius: 2vh;
    box-shadow: 2vh 2vh 2vh black;
/*        -2vh 2vh 2vh #000, 
        -2vh -2vh 2vh #000,
        2vh -2vh 2vh #000;*/
    background-color: white;
}
#gameover h2 {
    font-size: 5vh;
    font-weight: bold; 
    margin: 2vh;
}
#gameover #score {
    font-size: 5vh;
    text-align: center;
    color: gold;
    margin: 4vh 0 7vh 0;
    height: 10vh;
}
#gameover:not([data-score]) #score, #gameover[data-score="0"] #score {
    visibility: hidden;
}
#gameover .win, #gameover:not([data-score="0"]) .lost, #gameover[data-score] .pause {
    display: none;
}
#gameover[data-score]:not([data-score="0"]) .win {
    display: inline;
}
#gameover[data-score="1"] #score:before {
    content: '\2605 \2606 \2606';
}
#gameover[data-score="2"] #score:before{
    content: '\2605 \2605 \2606';
}
#gameover[data-score="3"] #score:before {
    content: '\2605 \2605 \2605';
}
#gameover:not([data-score]) #btnNext, #gameover[data-score="0"] #btnNext, #gameover #btnResume {
    display: none;
}
#gameover:not([data-score]) #btnResume {
    display: block;
}
#gameover button {
    font-size: 3vh;
    font-weight: normal;
    width: 60%;
    display: block;
    position: relative;
    transform: none;
    margin: 2vh auto;
}


/**** LEVEL SELECTION ***/
#choose > h2 {
    margin: 10vh;
}
#choose > div {
    display: block;
    text-align: center;
    width: 60vw;
    margin: 10vh auto;

}

#choose .btnLevel {
    display: inline-block;
    cursor: pointer;
    width: 7vh;
    margin: 3vw 3vw;
    position: relative;
}

#choose .btnLevel:before {
    content: '';
    text-align: center;
    width: 100%;
    position: absolute;
    display: block;
    top: -3vh;
    font-size: 2vh;
    color: gold;
}
#choose .btnLevel:before {
    content: '';
}
#choose .btnLevel[data-score="1"]:before {
    content: '\2605 \2606 \2606';
}
#choose .btnLevel[data-score="2"]:before {
    content: '\2605 \2605 \2606';
}
#choose .btnLevel[data-score="3"]:before {
    content: '\2605 \2605 \2605';
}
#choose .btnLevel:before {
    content: '';
}
#choose .btnLevel:after {
    display: block;
    box-sizing: border-box;
    content: attr(data-num);
    border: solid 1px #000;
    line-height: 7vh;
    font-size: 5vh;
    width: 7vh;
    height: 7vh;
    text-align: center;
    padding: 0;
    background-color: white;
    border-radius: 10px;
}




/*** LEVEL DESIGN ***/
#level canvas#cvsGame {
    position: absolute; 
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/essainuage2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#level > * {
    position: absolute; 
}

#level #btnStartLevel {
    left: 50%;
    top: 50%;
    padding-bottom: 3vh;
}
#level #btnStartLevel:before {
    display: block;
    content: 'Level ' attr(data-level);
    text-align: center;
    margin: 3vh 0;
}

#level[data-action]:after {
    position: fixed;
    box-sizing: border-box;
    bottom: 1vh;
    right: 1vh;
    
    border: solid 0.5vh #000;
    border-radius: 2vh;
    padding: 0.2vh 0.2vh;
    width: 12vh;
    height: 12vh;
    font-size: 4vh;
    line-height: 4.5vh;
    text-align: right;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    background-image: url(../images/soul.png);
    background-size: 8vh 8vh;
    background-repeat: no-repeat;
    background-position: 1vh 1vh;
}
#level:not(.withSoul)[data-action="Source"]:after {
    content: '\2795';
}
#level:not(.withSoul)[data-action="Soul"]:after {
    content: '\2B06';
}
#level.withSoul[data-action="TV"]:after, #level.withSoul[data-action="Exit"]:after {
    content: '\2B07';
}

#level > div {
    border: solid 1px #000;
}

#level #todo {
    top: 0;
    left: 5vh;
    background-color: white;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    margin: 0.5vw;
    width: 30vw;
    height: 8vh;
    border: solid 0.5vh #000;
    border-radius: 1vh;
    box-shadow: 1vh 1vh 1vh #000;
}
#todo .soul {
    display: inline-block;
    transform: none;
    width: 7vh;
    height: 7vh; 
    background-size: 7vh 7vh;
    position: relative;
}
#todo .soul.done:after {
    content: '\2705';
    position: absolute; 
    font-size: 3vh;
    color: green;
    bottom: 1px;
    right: 1px;
}
.soul > div {
    position: relative; 
    display: inline-block;
    width: 1.4vh;
    height: 1.4vh;
    border-radius: 50%;
    border: solid 1px #000;
    box-shadow: 1px 1px 1px #000;
}



/**** TIME ****/
#level:before {
    content: attr(data-time);
    position: absolute;
    z-index: 10;
    top: 0;
    margin: 0.5vw;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vh;
    line-height: 1.2;
    font-weight: bold;
    padding: 1vh 2vh 0.5vh 2vh;
    text-align: center;
    right: 5vh;
    color: black;
    background-color: white;
    border-radius: 3vh;
    border: solid 1vh darkred;
}
